*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --body-color: #ffffff;
    --text-color: rgb(122, 98, 98);
    --primary-color: black;
    --btn-bg-color: rgb(241, 21, 21);
    --box-shadow: rgba(0, 0, 0, .4);
    --bt-font-wight: 800;
    --font-semi-bold: 900;
    --font-bold: 700;
    --bt-font-size: 1rem;
    --h1-font-size: 2rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.2rem;
    --h5-font-size: 1rem;
}
html{
    scroll-behavior: smooth;
}
body {
    background: var(--body-color);
    color: var(--text-color);
}
.dark-theme{
    --body-color: #000;
    --primary-color: #fff;
    --text-color: #fff;
    --box-shadow: #fff;
}
h1,h2,h3,h5,span{
    color: var(--primary-color);
}
h1{
    font-size: var(--h1-font-size);
    font-weight: var(--font-semi-bold);
}
h2{
    font-size: var(--h2-font-size);
    font-weight: var(--font-bold);
}
h3{
    font-size: var(--h3-font-size);
}
h5{
    font-size: var(--h5-font-size);
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
p{
    font-size: 18px;
}
img{
    max-width: 100%;
    height: auto;
}
.red-img {
    fill: var(--btn-bg-color);
}
.mar-top{
    margin-top: 8rem;
}
.width-img{
    width: 40%;
}
.display-flex{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.mgn-bottom{
    margin-bottom: 30px;
}


.header{
    width: 100%;
    padding: 30px 0;
    text-align: center;
}
.nav-container-item li  a{
    font-size: 1.3rem;
    color: var(--primary-color);
}
.nav-container-item li a:hover {
    color: var(--btn-bg-color);
    transition: .8s;
}
.nav-container ul{
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.btn{
    padding: 15px 27px;
    border-radius: 30px;
    font-size: var(--font-size);
    font-weight: var(--font-wight);
    border: none;
    background: var(--btn-bg-color);
}
.toggle img{
    width: 30px;
    color: var(--primary-color);
}

    /* Home section */

    .home-section p{
        margin: 15px 0;
    }